body{
margin:0;
font-family:Arial,Helvetica,sans-serif;
background:#f4f4f4;
}

header{
background:#ff9a33;
color:white;
padding:30px;
text-align:center;
}

#gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:30px;
padding:40px;
max-width:1300px;
margin:auto;
}

.card{
background:white;
border-radius:18px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,.12);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
height:260px;
object-fit:cover;
cursor:pointer;
}

.card-content{
padding:20px;
text-align:center;
}

.card-content h2{
margin-top:0;
margin-bottom:20px;
}

.buttons{
display:flex;
justify-content:center;
gap:15px;
}

.buttons button{
padding:10px 18px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:15px;
font-weight:bold;
}

.download{
background:#ff9800;
color:white;
}

.share{
background:#1976d2;
color:white;
}

.download:hover{
background:#f57c00;
}

.share:hover{
background:#1565c0;
}
/* ---------- LIGHTBOX ---------- */

.lightbox{
display:none;
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
z-index:999;
justify-content:center;
align-items:center;
flex-direction:column;
}

.lightbox img{
max-width:90%;
max-height:75%;
border-radius:12px;
box-shadow:0 0 25px rgba(255,255,255,.2);
}

#closeBtn{
position:absolute;
top:20px;
right:35px;
font-size:45px;
color:white;
cursor:pointer;
}

.popup-buttons{
margin-top:25px;
display:flex;
gap:20px;
}

.popup-buttons button{
padding:12px 22px;
border:none;
border-radius:8px;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

#popupDownload{
background:#ff9800;
color:white;
}

#popupShare{
background:#1976d2;
color:white;
}